.App {
  background-color: #2651a5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
 
.App input{
  margin-top: 40px;
  border-radius: 40px;
  padding: 1em;
  background-color: #f8f8f8;
}
.App button{
  border-radius: 40px;
  padding: 1em;
  margin-left: 1em;
}
.App p{
  margin-top: 12em;
}